body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    background: #4d4d4d url(./space.jpg);
    background-size: 100%;
}


@media (max-width: 1215px) {
    h1 {
        text-align: center;
    }
}

@media (max-width: 715px) {
    h2 {
        text-align: center;
    }
}